<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Counter</title>
</head>
<body>
    <div class="container mt-4 d-flex flex-column align-items-center">
        <h1>Counter</h1>
        <p> 
            {{ session['count'] }} times
        </p>
        <div class="d-flex w-75 justify-content-center">
            <a class="me-1 btn btn-danger w-25" role="button" href="/inc_by_2">Add two visits</a>
            <a class="btn btn-primary w-25" role="button" href="/destroy_session">Reset</a>
        </div>
        <div class="container mt-1 d-flex justify-content-center">
            <form action="/inc_by_x" method="get">
                <label for="test">(W.I.P.)Increment by: </label>
                <input type="number" id="test" name="test" min='0' step='1'>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>